*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: lavenderblush;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    background-color: white;
    height: auto;
    width: auto;
    padding: 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    box-shadow: -4px 4px 10px rgba(249, 58, 185, 0.2);
}

.textarea{
    width: 100%;
    height: 100px;
    resize: none;
    outline: none;
    font-size: 18px;
    padding: 8px;
    border: 2px solid grey;
    border-radius: 6px;
}

.counter{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.total-char{
    color:rgb(3, 12, 185);
    font-weight: 500;
}

.rem-char{
    color:rgb(246, 58, 121);
    font-weight: 500;
}